body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5em 0 2em 0;
  width: 20%;
  background-color: #5499C7;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #005F73;
  color: white;
}

li a:hover:not(.active) {
  background-color: #154360;
  color: white;
}